h1 {
    color: $accent-color;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-top: 1em;

}  
    
   .about {
        padding: 1em 3em;
        width: 40%;
        margin: 0 auto;
    }
div {
    &.tabs {
        width: 75%;
        margin: 0 auto;
        display: flex;
        margin-bottom: 10em;

        .tab-links {
            width: 20%;
            background: $nav-color;
            display: flex;
            flex-flow: column;

            
            @media (max-width: 800px) {
                width: 20%;
                margin-left: -2em;
            }

            @media (max-width: 600px) {
                margin-left: -2em;
            }

            @media (max-width: 500px) {
                margin-left: -2em;
                width: 40%;
            }

            .tab-link {
                text-align: center;
                padding: 1em;
                font-family: 'Nunito', sans-serif;
                font-size: 1.3em;
                color: $accent-color;
                transition: ease-in-out .5s;

                &:hover {
                    cursor: pointer;
                    background: rgb(192, 190, 190);
                    transition: ease-in-out .5s;
                }
    
            }

            .tab-link-selected {
                border-left: 2px solid $accent-color;
                color: black;
            }
        }

        .tab-items {
            width: 75%;
            background: $nav-color;

            .tab-item {
                display: none;
                

                .tab-item-content {
                    display: flex;
                    flex-flow: row wrap;
                    padding: 0 1em;

                    .tab-item-title {
                        margin-top: 2em;
                        margin-left: 1em;

                        @media (max-width: 800px) {
                            margin-top: 0;
                            margin-left: 0;
                        }

                        @media (max-width: 500px) {
                            margin-top: 0;
                            margin-left: 0;
                        }
                    }

                    img {
                        width: 20%;
                        height: 20%;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-bottom: .75em;

                        @media (max-width: 800px) {
                            width: 100%;
                        }

                        @media (max-width: 500px) {
                            width: 100%;
                        }
                    }
                }

            }

            .tab-item-selected {
                display: block;
                
            }
        }
    }
}