footer {
    width: 96.6%;
    height: 2em;
    background: #362424;
    color: $nav-color;
    text-align: center;
    padding: 2em;
    margin-top: 3em;

    @media (max-width: 800px) {
        width: 93.6%;
        padding: 2em 0;
    }

    @media (max-width: 500px) {
        width: 100%;
    }

    @media (max-width: 1200px) {
        width: 90%;
    }

}