section {
    &.cta {
        width: 100%;
        height: 569px;
        background-image: url('/img/john-schnobrich-520023-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
        div {
            &.text-cta {
                width: 100%;
                height: 93%;
                background-color: $floating-color;
                padding: 20px;
                margin-top: -1em;

                @media (max-width: 800px) {
                    width: 100%;
                    height:  89%;
                    padding: 2em 0;
                    margin: 0 auto;
                    margin-top: -1em;
                }


                h1 {
                    width: 30%;
                    color: $nav-color;
                    font-family: 'Nunito', sans-serif;
                    font-size: 5em;
                    font-weight: bold;
                    text-align: center;
                    margin: 0 auto;

                    @media (max-width: 800px) {
                        width: 100%;
                        margin-bottom: 1em;
                    }

                    @media (max-width: 600px) {
                        margin-bottom: .25em;
                    }
                }

                div {
                    &.cta-button {
                        width: 300px;
                        background-color: $nav-color;
                        color: $accent-color;
                        font-family: 'Nunito', sans-serif;
                        text-align: center;
                        padding: 20px;
                        font-size: 2.60em;
                        border-radius: 50px;
                        margin: 0 auto;
                        margin-top: 1em;

                        @media (max-width: 800px) {
                            width: 90%;
                            margin: 0 auto;

                        }

                        a {
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    &.features {
        width: 60%;
        margin: 0 auto;
        margin-top: 2.7em;
        display: flex;
        flex-flow: column;

        .feature-left {
            margin-top: 5em;
            
            h2 {
                font-size: 2em;
                color: $accent-color;
                font-family: 'Montserrat', sans-serif;
                float: left;

                @media (max-width: 800px) {
                    float: none;
                    width: 100%;
                }
            }

            p {
                float: left;
                width: 40%;
                clear: both;
                margin-bottom: 0;

                @media (max-width: 800px) {
                    clear: both;
                    width: 100%;
                    margin-bottom: 10em;
                }
                    
            
            }

            .get-started {
                width: 40%;
                background: $accent-color;
                color: $nav-color;
                padding: .5em;
                font-size: 2em;
                font-family: 'Nunito', sans-serif;
                text-align: center;
                margin-top: 5em;
                a {
                    color: inherit;
                    text-decoration: none;

                }

                @media (max-width: 800px) {
                    display: none;
                }

                @media (max-width: 900px) {
                    display: none;
                }

                @media (max-width: 1000px) {
                    display: none;
                }

                @media (max-width: 1600px) {
                    display: none;
                }
            }

            img {
                width: 50%;
                float: right;
                margin-top: -7em;

                @media (max-width: 800px) {
                    clear: both;
                    width: 100%;
                }

                &.secondary {
                    margin-top: -5em;

                    @media (max-width: 800px) {
                        float: none;
                        clear: both;
                    }
                }

                
            }
        
        }

        .feature-right {
            margin-top: 10em;

            @media (max-width: 800px) {
                margin-top: 2em;
            }

            h2 {
                font-size: 2em;
                color: $accent-color;
                font-family: 'Montserrat', sans-serif;
                text-align: right;
                float: right;

                @media (max-width: 800px) {
                    clear: both;
                    width: 100%;
                    text-align: left;
                }
            }

            p {
                float: right;
                text-align: right;
                width: 40%;
                clear: both;

                @media (max-width: 800px) {
                    width: 100%;
                    clear: both;
                    margin-bottom: 10em;
                    text-align: left;
                }
            }

            img {
                width: 50%;
                float: left;
                margin-top: -10em;

                @media (max-width: 800px) {
                    width: 100%;
                    clear: both;
                    margin-top: -7em;
                }

                }

                @media (max-width: 800px) {
                    clear: both;
                    width: 100%;
                }
            }
        
        }
    &.cta-lg {
        width: 60%;
        margin: 0 auto;
        margin-top: 4em;

        h2 {
            font-size: 3em;
            text-align: center;
            color: $accent-color;
            font-family: 'Montserrat', sans-serif;
        }

        .get-started {
            width: 40%;
            margin: 0 auto;
            color: $nav-color;
            background: $accent-color;
            font-family: 'Nunito', sans-serif;
            text-align: center;
            margin-top: 2em;
            font-size: 2.75em;
            padding: .3em 0;

            a {
                color: inherit;
                text-decoration: none;
            }

            @media (max-width: 800px) {
                width: 100%;
            }

            @media (max-width: 500px) {
                width: 100%;
            }
        }
    }
    
    
    }