@import url("https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background: #39934A;
  width: 100%;
  display: flex;
  flex-direction: row;
}
header a {
  text-decoration: none;
}
@media (max-width: 800px) {
  header {
    display: flex;
    flex-flow: column;
    white-space: nowrap;
  }
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-flow: column;
    white-space: nowrap;
  }
}
header span {
  display: none;
}
header span.navbar-toggle {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  color: #FFF;
  font-size: 1em;
}
@media (max-width: 800px) {
  header span.navbar-toggle {
    display: block;
  }
}
@media (max-width: 500px) {
  header span {
    display: block;
  }
}
@media (max-width: 1000px) {
  header span {
    display: block;
  }
}
header h1 {
  order: -1;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  font-size: 4rem;
  margin-right: auto;
  margin-left: 1em;
  margin-top: -0.1em;
}
@media (max-width: 800px) {
  header h1 {
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  header h1 {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  header h1 {
    margin: 0 auto;
  }
}
header nav {
  display: flex;
  padding: 10px;
  align-items: center;
}
@media (max-width: 800px) {
  header nav {
    display: flex;
    flex-flow: row;
  }
}
@media (max-width: 1000px) {
  header nav {
    display: flex;
    flex-flow: row;
  }
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    text-align: center;
  }
}
header nav a {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: #FFF;
  font-size: 40px;
  margin-left: 50px;
}
@media (max-width: 800px) {
  header nav a {
    display: none;
  }
}
@media (max-width: 1000px) {
  header nav a {
    display: none;
  }
}
@media (max-width: 500px) {
  header nav a {
    display: none;
  }
}

.active {
  display: block;
  width: 100%;
}

section.cta {
  width: 100%;
  height: 569px;
  background-image: url("/img/john-schnobrich-520023-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section.cta div.text-cta {
  width: 37%;
  height: 93%;
  background-color: rgba(82, 80, 80, 0.78);
  padding: 20px;
  margin-top: -1em;
}
@media (max-width: 800px) {
  section.cta div.text-cta {
    width: 100%;
    height: 89%;
    padding: 2em 0;
    margin: 0 auto;
    margin-top: -1em;
  }
}
section.cta div.text-cta h1 {
  width: 100%;
  color: #FFF;
  font-family: "Nunito", sans-serif;
  font-size: 5em;
  font-weight: bold;
  margin-top: 1.75em;
  text-align: left;
  margin-left: 1em;
}
@media (max-width: 800px) {
  section.cta div.text-cta h1 {
    width: 100%;
    margin-bottom: 1em;
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  section.cta div.text-cta h1 {
    margin-bottom: 0.25em;
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  section.cta div.text-cta h1 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0.25em;
  }
}
section.cta div.text-cta div.cta-button {
  width: 300px;
  background-color: #FFF;
  color: #39934A;
  font-family: "Nunito", sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 2.6em;
  border-radius: 50px;
  margin-top: 1em;
  margin-left: 2em;
}
@media (max-width: 800px) {
  section.cta div.text-cta div.cta-button {
    width: 90%;
    margin: 0 auto;
  }
}
section.cta div.text-cta div.cta-button a {
  color: inherit;
  text-decoration: none;
}
section.features {
  width: 60%;
  margin: 0 auto;
  margin-top: 2.7em;
  display: flex;
  flex-flow: column;
}
section.features .feature-left {
  margin-top: 5em;
}
section.features .feature-left h2 {
  font-size: 2em;
  color: #39934A;
  font-family: "Montserrat", sans-serif;
  float: left;
}
@media (max-width: 800px) {
  section.features .feature-left h2 {
    float: none;
    width: 100%;
  }
}
section.features .feature-left p {
  float: left;
  width: 40%;
  clear: both;
  margin-bottom: 0;
}
@media (max-width: 800px) {
  section.features .feature-left p {
    clear: both;
    width: 100%;
    margin-bottom: 10em;
  }
}
section.features .feature-left .get-started {
  width: 40%;
  background: #39934A;
  color: #FFF;
  padding: 0.5em;
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin-top: 5em;
}
section.features .feature-left .get-started a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 800px) {
  section.features .feature-left .get-started {
    display: none;
  }
}
@media (max-width: 900px) {
  section.features .feature-left .get-started {
    display: none;
  }
}
@media (max-width: 1000px) {
  section.features .feature-left .get-started {
    display: none;
  }
}
@media (max-width: 1600px) {
  section.features .feature-left .get-started {
    display: none;
  }
}
section.features .feature-left img {
  width: 50%;
  float: right;
  margin-top: -7em;
}
@media (max-width: 800px) {
  section.features .feature-left img {
    clear: both;
    width: 100%;
  }
}
section.features .feature-left img.secondary {
  margin-top: -5em;
}
@media (max-width: 800px) {
  section.features .feature-left img.secondary {
    float: none;
    clear: both;
  }
}
section.features .feature-right {
  margin-top: 10em;
}
@media (max-width: 800px) {
  section.features .feature-right {
    margin-top: 2em;
  }
}
section.features .feature-right h2 {
  font-size: 2em;
  color: #39934A;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  float: right;
}
@media (max-width: 800px) {
  section.features .feature-right h2 {
    clear: both;
    width: 100%;
    text-align: left;
  }
}
section.features .feature-right p {
  float: right;
  text-align: right;
  width: 40%;
  clear: both;
}
@media (max-width: 800px) {
  section.features .feature-right p {
    width: 100%;
    clear: both;
    margin-bottom: 10em;
    text-align: left;
  }
}
section.features .feature-right img {
  width: 50%;
  float: left;
  margin-top: -10em;
}
@media (max-width: 800px) {
  section.features .feature-right img {
    width: 100%;
    clear: both;
    margin-top: -7em;
  }
}
@media (max-width: 800px) {
  section.features .feature-right {
    clear: both;
    width: 100%;
  }
}
section.cta-lg {
  width: 60%;
  margin: 0 auto;
  margin-top: 4em;
}
section.cta-lg h2 {
  font-size: 3em;
  text-align: center;
  color: #39934A;
  font-family: "Montserrat", sans-serif;
}
section.cta-lg .get-started {
  width: 40%;
  margin: 0 auto;
  color: #FFF;
  background: #39934A;
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin-top: 2em;
  font-size: 2.75em;
  padding: 0.3em 0;
}
section.cta-lg .get-started a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 800px) {
  section.cta-lg .get-started {
    width: 100%;
  }
}
@media (max-width: 500px) {
  section.cta-lg .get-started {
    width: 100%;
  }
}

h1 {
  color: #39934A;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  text-align: center;
  margin-top: 1em;
}

.about {
  padding: 1em 3em;
  width: 40%;
  margin: 0 auto;
}

div.tabs {
  width: 75%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 10em;
}
div.tabs .tab-links {
  width: 20%;
  background: #FFF;
  display: flex;
  flex-flow: column;
}
@media (max-width: 800px) {
  div.tabs .tab-links {
    width: 20%;
    margin-left: -2em;
  }
}
@media (max-width: 600px) {
  div.tabs .tab-links {
    margin-left: -2em;
  }
}
@media (max-width: 500px) {
  div.tabs .tab-links {
    margin-left: -2em;
    width: 40%;
  }
}
div.tabs .tab-links .tab-link {
  text-align: center;
  padding: 1em;
  font-family: "Nunito", sans-serif;
  font-size: 1.3em;
  color: #39934A;
  transition: ease-in-out 0.5s;
}
div.tabs .tab-links .tab-link:hover {
  cursor: pointer;
  background: #c0bebe;
  transition: ease-in-out 0.5s;
}
div.tabs .tab-links .tab-link-selected {
  border-left: 2px solid #39934A;
  color: black;
}
div.tabs .tab-items {
  width: 75%;
  background: #FFF;
}
div.tabs .tab-items .tab-item {
  display: none;
}
div.tabs .tab-items .tab-item .tab-item-content {
  display: flex;
  flex-flow: row wrap;
  padding: 0 1em;
}
div.tabs .tab-items .tab-item .tab-item-content .tab-item-title {
  margin-top: 2em;
  margin-left: 1em;
}
@media (max-width: 800px) {
  div.tabs .tab-items .tab-item .tab-item-content .tab-item-title {
    margin-top: 0;
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  div.tabs .tab-items .tab-item .tab-item-content .tab-item-title {
    margin-top: 0;
    margin-left: 0;
  }
}
div.tabs .tab-items .tab-item .tab-item-content img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.75em;
}
@media (max-width: 800px) {
  div.tabs .tab-items .tab-item .tab-item-content img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  div.tabs .tab-items .tab-item .tab-item-content img {
    width: 100%;
  }
}
div.tabs .tab-items .tab-item-selected {
  display: block;
}

footer {
  width: 96.6%;
  height: 2em;
  background: #362424;
  color: #FFF;
  text-align: center;
  padding: 2em;
  margin-top: 3em;
}
@media (max-width: 800px) {
  footer {
    width: 100%;
    padding: 2em 0;
  }
}
@media (max-width: 500px) {
  footer {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  footer {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
