@import url("https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100%;
}
header nav {
  background: #39934A;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}
@media (max-width: 800px) {
  header nav {
    flex-flow: column;
  }
}
header nav h1 {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  font-size: 4rem;
  margin-right: auto;
  margin-left: 50px;
}
@media (max-width: 800px) {
  header nav h1 {
    margin: 0 auto;
  }
}
header nav a {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  font-size: 40px;
  margin-left: 50px;
}

section.cta {
  width: 100%;
  height: 569px;
  background-image: url("/img/john-schnobrich-520023-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section.cta div.text-cta {
  width: 742px;
  height: 342px;
  background-color: rgba(57, 147, 74, 0.6);
  margin-top: 5em;
  margin-left: 4em;
  padding: 20px;
}
@media (max-width: 800px) {
  section.cta div.text-cta {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
}
section.cta div.text-cta h1 {
  color: #FFF;
  font-family: "Nunito", sans-serif;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
section.cta div.text-cta div.cta-button {
  width: 300px;
  background-color: #FFF;
  color: #39934A;
  font-family: "Nunito", sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 2.6em;
  border-radius: 50px;
  margin-top: 1em;
  margin-left: 4.7em;
}
@media (max-width: 800px) {
  section.cta div.text-cta div.cta-button {
    width: 90%;
    margin: 0 auto;
  }
}
section.cta div.text-cta div.cta-button a {
  color: inherit;
  text-decoration: none;
}
section.features {
  width: 60%;
  margin: 0 auto;
  margin-top: 2.7em;
  display: flex;
  flex-flow: column;
}
section.features .feature-left {
  margin-top: 5em;
}
section.features .feature-left h2 {
  font-size: 2em;
  color: #39934A;
  font-family: "Montserrat", sans-serif;
  float: left;
}
@media (max-width: 800px) {
  section.features .feature-left h2 {
    float: none;
    width: 100%;
  }
}
section.features .feature-left p {
  float: left;
  width: 40%;
  clear: both;
}
@media (max-width: 800px) {
  section.features .feature-left p {
    clear: both;
    width: 100%;
    margin-bottom: 10em;
  }
}
section.features .feature-left img {
  width: 50%;
  float: right;
  margin-top: -7em;
}
@media (max-width: 800px) {
  section.features .feature-left img {
    clear: both;
    width: 100%;
  }
}
section.features .feature-left img.secondary {
  margin-top: -5em;
}
@media (max-width: 800px) {
  section.features .feature-left img.secondary {
    float: none;
    clear: both;
  }
}
section.features .feature-right {
  margin-top: 10em;
}
@media (max-width: 800px) {
  section.features .feature-right {
    margin-top: 2em;
  }
}
section.features .feature-right h2 {
  font-size: 2em;
  color: #39934A;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  float: right;
}
@media (max-width: 800px) {
  section.features .feature-right h2 {
    clear: both;
    width: 100%;
  }
}
section.features .feature-right p {
  float: right;
  text-align: right;
  width: 40%;
  clear: both;
}
@media (max-width: 800px) {
  section.features .feature-right p {
    width: 100%;
    clear: both;
    margin-bottom: 10em;
  }
}
section.features .feature-right img {
  width: 50%;
  float: left;
  margin-top: -10em;
}
@media (max-width: 800px) {
  section.features .feature-right img .right-img {
    order: 1;
  }
}
@media (max-width: 800px) {
  section.features .feature-right img {
    clear: both;
    width: 100%;
  }
}

footer {
  width: 96.6%;
  background: #362424;
  color: #FFF;
  text-align: center;
  padding: 2em;
  margin-top: 3em;
}

/*# sourceMappingURL=index.css.map */
